<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>평가할 태스크 목록 확인하기 예시 페이지</title>
	<style>
		.small {text-indent: 50px;}
		.big {texxt-indent:100px;}
	</style>
</head>

<body>
<div>
<h1>평가해야할 태스크 수: 3</h1>
</div>
<hr>
<br>
<br>
<hr>
<div>
<h2>1번 태스크 평가</h2>
<br>
<input class="button" type="submit" href="mypage.html" value="평가하기">
<h3 class="small">평가완료 여부: N</h3>
</div>
<hr>
<div>
<h2>2번 태스크 평가</h2>
<br>
<input class="button" type="submit" href="mypage.html" value="평가하기">
<h3 class="small">평가완료 여부: Y</h3>
</div>
<hr>
<div>
<h2>3번 태스크 평가 </h2>
<br>
<input class="button" type="submit" href="mypage.html" value="평가하기">
<h3 class="small">평가완료 여부: N</h3>
</div>
<hr>

</body>
</html>