<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>평가할 파일 리스트 예시페이지</title>
	<style>
		.small {text-indent: 50px;}
		.big {texxt-indent:100px;}
	</style>
</head>

<body>
<h1>평가할 파일 리스트</h1>
<hr>
<h3>1번파일: 파일제목</h3>
<a href=”www.naver.com”> 평가하기 </a>
<h3 class='small'>평가점수: 9.3</h3>
<h3 class='small'>저장여부:p</h3>
<hr>
<h3>2번파일: 파일제목</h3>
<a href=”www.naver.com”> 평가하기 </a>
<h3 class='small'>평가점수: 9.2</h3>
<h3 class='small'>저장여부:np</h3>
<hr>
<h3>3번파일: 파일제목</h3>
<a href=”www.naver.com”> 평가하기 </a>
<h3 class='small'>평가점수: 6.3</h3>
<h3 class='small'>저장여부:np</h3>
<hr>

</body>
</html>