{% extends 'base.html' %}

{% block content %}
<section id="main" class="wrapper">
  <div class="inner">
	  <h2>
		Hi Administer!
      </h2>

	  <p><a class="button" href="{% url 'myadmin:taskcreate' %}">Create a task</a>
      <p><a class="button" href="{% url 'viewusers' %}">View all users</a>
      <p><a class="button" href="{% url 'task' %}">View all tasks</a>
      <p><a class="button" href="{% url 'myadmin:taskmanage' %}">Manage tasks</a>
	  <p><a class="button" href="{% url 'logout' %}">Log Out</a></p>
  </div>
</section>
{% endblock %}
