<!DOCTYPE HTML>
<html>
{% csrf_token %}
{% load static %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}Crowd Source Data{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>

</head>

<body class="subpage">
        <header id="header">
        <div class="inner">
            <a href="{% url 'home' %}" class="logo"><strong>CrowdSource</strong> Data</a>
            <nav id="nav">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'task' %}">Tasks</a>
                <a href="{% url 'signup' %}">My Account</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
        </header>


    <section id="main">
        {% block content %}
        replace me
        {% endblock %}
    </section>

</body>
</html>
