{% extends 'base.html' %}

{% block content %}
  <div class="inner">
      <h3 style="text-align:center;" >개인정보 수집-이용 동의</h3>
      <p><strong>개인정보의 수집 및 이용 동의서</strong></p>
      <p>- 이용자가 제공한 모든 정보는 다음의 목적을 위해 활용하며, 하기 목적 이외의 용도로는 사용되지 않습니다.</p>
      <p>   1. 개인정보 수집 항목 및 수집·이용 목적</p>
      <p>      수집 항목 (필수항목)</p>
      <p>       - 성명(국문), 주소, 전화번호(자택, 휴대전화), 이메일, 나이, 등 신청자가 제공한 정보</p>
      <p>   2. 개인정보 보유 및 이용기간</p>
      <p>       - 수집·이용 동의일로부터 개인정보의 수집·이용목적을 달성할 때까지</p>
      <input type="checkbox" id="agree">
      <label for="agree">본인은 위의 동의서 내용을 충분히 숙지하였으며, 개인정보 수집, 이용, 제공하는 것에 동의합니다.</label>
  </div>
  <div class="inner">
      <a class="button" href="{% url 'applied' task_id user.user_id %}">참여신청</a>
  </div>
{% endblock %}