{% extends "base.html" %}

{% block content %}
    <head>
	<style>
	h4 {text-align: center;}
	h3 {text-align: center;}
	h5 {text-align: center;}
	</style>
	</head>
        <br> <br>
        <h3> Raw Data Type List and Schemas <br> </h3>
    <div class="inner">
        <table class="table table-striped">
            <thead>
            <tr>
                <td><B>Type</B></td>
                <td><B>Field Tame</B></td>
                <td><B>Field Type</B></td>
                <td><B>Null Valid</B></td>
                <td><B>Mapping Field</B></td>
            </tr>
            </thead>
            <tbody>
            {% for ty in typefield %}
            <tr>
                <td>{{ ty.type_id }}</td>
                <td>{{ ty.field_name }}</td>
                <td>{{ ty.field_type }}</td>
                <td>{{ ty.null_value }}</td>
                <td>{{ ty.mapping_field }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="{% url 'createdatatype' %}" class="button fit">Create New Raw Data Type</a>
        <a href="{% url 'createtypeschema' %}" class="button fit">Add Fields to Certain Data Type</a>
   </div>

{% endblock content %}