{% if user.is_authenticated %}
    {% if user.role == 'R'%}
        <meta http-equiv="REFRESH" content="0;url={{'rater'}}">
    {% endif %}

    {% if user.role == 'A'%}
        <meta http-equiv="REFRESH" content="0;url={{'pjadmin'}}">
    {% endif %}

    {% if user.role == 'S'%}
        <meta http-equiv="REFRESH" content="0;url={{'submitter'}}">
    {% endif %}
{% else %}
{% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>

	<header id="header">
        <div class="inner">
            <a href="{% url 'home' %}" class="logo"><strong>CrowdSource</strong> Data</a>
            <nav id="nav">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'task' %}">Tasks</a>
                <a href="{% url 'signin' %}">My Account</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
	</header>
    <section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to Data CrowdSourcing Platform</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-car"></span>
							<h3>Administrate</h3>
							<p>Create Tasks and Gather Data</p>
						</div>

						<div>
							<span class="icon fa-camera"></span>
							<h3>Submit</h3>
							<p>Submit Data and Receive Ratings</p>
						</div>

						<div>
							<span class="icon fa-bug"></span>
							<h3>Rate</h3>
							<p>Rate and Check Data Quality</p>
						</div>

					</div>

					<footer>
						<a class="button" href="{% url 'signin' %}">Log - In</a>
                        <a class="button" href="{% url 'signup' %}"> Sign Up </a>
					</footer>
				</div>
			</section>


{% endif %}
