{% extends 'base.html' %}
{% load static %}


{% block content %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}Crowd Source Data{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
</head>
{% if user.is_authenticated %}
    {% if user.role == 'R'%}

        <meta http-equiv="REFRESH" content="0;url={{'rater'}}">
    {% endif %}

    {% if user.role == 'A'%}
        <meta http-equiv="REFRESH" content="0;url={{'admin'}}">
    {% endif %}

    {% if user.role == 'S'%}
        <meta http-equiv="REFRESH" content="0;url={{'submitter'}}">
    {% endif %}

    <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
    <p>Welcome</p>
    <a href="{% url 'login' %}">Log In</a>

    <a href="{% url 'signup' %}">Sign Up</a>

{% endif %}
{% endblock %}