{% extends 'base.html' %}

{% block content %}
    <head>
	<style>
	h2 {text-align: center;}
	h3 {text-align: center;}
	h5 {text-align: center;}
	</style>
	</head>
<section id="main" class="wrapper">
  <div class="inner">

	  <h3>
		Hi {{user.username}}!
	  </h3>
	  <p><a href="{% url 'logout' %}" class="button fit">Log Out</a></p>
      <hr class="major">
	  <h2>My Info</h2>
	  <div class="table_wrapper">
		  <table class="table table-striped">
            <thead>
            <tr>
                <td><B>이름</B></td>
				<td><B>성</B></td>
                <td><B>ID</B></td>
                <td><B>성별</B></td>
                <td><B>생일</B></td>
                <td><B>이메일</B></td>
				<td><B>전화번호</B></td>
                <td><B>역할</B></td>

            </tr>
            </thead>
            <tbody>

            <tr>
                <td>{{ form.first_name }}</td>
				<td>{{ form.last_name }}</td>
                <td>{{ form.username }}</td>

				{% if form.gender == 'F' %}
                <td>여성</td>
                {% elif form.gender == 'M' %}
                <td>남성</td>
				{% endif %}


                <td>{{ form.birthdate }}</td>
                <td>{{ form.phone }}</td>
				<td>{{ form.email }}</td>


                {% if form.role == 'A' %}
                <td>관리자</td>
                {% elif form.role == 'S' %}
                <td>제출자</td>
                {% elif form.role == 'R' %}
                <td>평가자</td>
                {% else %}
                <td>역할없음</td>
                {% endif %}
			</tbody>


			<thead>
            <tr>
                <td><B>주소</B></td>
			</tr>

		  </thead>
              <tbody>

            <tr>
                <td>{{ form.address }}</td>
            </tbody>
            </tr>

        </table>
          <hr class="major">
		  <h2>Manage Your Account</h2>
		  <a href="changeinfo" class="button fit">Change User Information</a>
		  <a href="changepw" class="button fit">Change Password</a>
		  <a href="deleteaccount" class="button fit">Delete Account</a>
	  </div>
  </div>
</section>
{% endblock %}