{% extends 'base.html' %}


{% load static %}
<body class="subpage">
  {% block content %}
  <section id="main" class="wrapper">
  <div class="inner">
    <h2 style="text-align:center">{{post.username}}'s Information</h2>
    <form method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <td><B>이름</B></td>
                <td><B>ID</B></td>
                <td><B>성별</B></td>
                <td><B>주소</B></td>
                <td><B>생일</B></td>
                <td><B>이메일</B></td>


            </tr>
            </thead>
            <tbody>

            <tr>
                <td>{{ post.username }}</td>
                <td>{{ post.user_id }}</td>
                <td>{{ post.gender }}</td>
                <td>{{ post.address }}</td>
                <td>{{ post.birthdate }}</td>
                <td>{{ post.email }}</td>


            </tr>

            </tbody>
        </table>
        <!--<tbody>

        <tr>
            <td>{{ post.username }}</td>
            <td>{{ post.user_id }}</td>
            <td>{{ post.gender }}</td>
            <td>{{ post.address }}</td>
        </tr>

        </tbody>-->
    </form>
    </div>
</section>

{% endblock %}
</body>