{% extends 'base.html' %}


{% load static %}
<body class="subpage">
  {% block content %}
  <section id="main" class="wrapper">
  <div class="inner">
      <h2 style="text-align:center"><B>{{post.username}}'s Information</B></h2>
    <form method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <td><B>이름</B></td>
                <td><B>ID</B></td>
                <td><B>성별</B></td>
                <td><B>주소</B></td>
                <td><B>생일</B></td>
                <td><B>이메일</B></td>
                <td><B>역할</B></td>


            </tr>
            </thead>
            <tbody>

            <tr>
                <td>{{ post.username }}</td>
                <td>{{ post.user_id }}</td>
                <td>{{ post.gender }}</td>
                <td>{{ post.address }}</td>
                <td>{{ post.birthdate }}</td>
                <td>{{ post.email }}</td>

                {% if post.role == 'A' %}
                <td>관리자</td>
                {% elif post.role == 'S' %}
                <td>제출자</td>
                {% elif post.role == 'R' %}
                <td>평가자</td>
                {% else %}
                <td>역할없음</td>
                {% endif %}
                {% for pa in parsed %}
                <td>{{ parsed.submitter }}</td>
                {% endfor %}

            </tr>

            </tbody>

        </table>
        {% if post.role == "S" %}
        <h3>참가 중인 태스크 목록</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><B>태스크</B></td>
                    <td><B>제출한 파일</B></td>
                </tr>
            </thead>
            <tbody>

        {% for ay in tak %}
        <tr>
            <!--<td><a href="{% url 'upload' ay.task_id %}">{{ ay.task_name }}</a></td>-->
            <td>{{ ay.task_name }}</td>

            {% for raws in raw %}
                {% if raws.task == ay.task_id %}

                    {% for pa in parsed %}

                           <th> {{ pa.file }}</th>

                    {% endfor %}

                {% endif %}
            {% endfor %}

        </tr>

        {% endfor %}
            </tbody>
        </table>

        <br>
        <table class="table table-striped">
            <tbody>
         <h3>총 제출이력</h3>
        {% for pa in parsed %}
        <tr>
         <td>{{ pa.file }}</td>
            </tr>
        {% endfor %}
        </tbody>  </table>




        {% elif post.role == "R" %}
        <h3>평가 중인 태스크 목록</h3>
        <table class="table table-striped">
            <tbody>

        {% for ps in parsed %}

        <tr>
            <td>{{ ps.task }}</td>

        </tr>

        {% endfor %}
            {% endif %}

            </tbody>
        </table>
    </form>
    </div>
</section>

{% endblock %}
</body>