{% extends 'base.html' %}

{% block content %}
<section id="main" class="wrapper">
  <div class="inner">
	  <h2>
		Hi {{user.username}}!
	  </h2>
	  <p><a href="{% url 'logout' %}">Log Out</a></p>
	  <hr class="major">
	  <h4>미평가 데이터</h4><br/>
	  <div class="table_wrapper">
		  <table>
			<thead>
			 	<tr>
					<th>파일 ID</th>
					<th>파일명</th>
					<th>소속 태스크</th>
					<th>데이터 타입</th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
			{% for f in not_rated %}
				<tr><td>{{f.raw_data.seqnumber}}</td>
				<td>{{f.raw_data.file}}</td>
  				<td>{{f.task.task_name}}</td>
  				<td>{{f.raw_data.raw_data_type.type_name}}</td>
  				<td><a href="{% url 'rate' f.raw_data.seqnumber %}">평가하기</a></td></tr>
			{% endfor %}
			</tbody>
		  </table>
	  </div><hr class="major">
	  <h4>평가 완료 데이터</h4>
	  <div class="table_wrapper">
		  <table>
			  <thead>
			  	<tr>
					<th>파일 ID</th>
					<th>파일명</th>
					<th>소속 태스크</th>
					<th>데이터 타입</th>
					<th>정성평가 점수</th>
					<th>저장 여부</th>
				</tr>
			  </thead>
			  <tbody>
  				{% for f in rated %}
				<tr><td>{{f.raw_data.seqnumber}}</td>
				<td>{{f.raw_data.file}}</td>
  				<td>{{f.task.task_name}}</td>
  				<td>{{f.raw_data.raw_data_type.type_name}}</td>
  				<td>넣어줘야함</td>
				<td>넣어줘야함</td></tr>
				{% endfor %}
			  </tbody>
		  </table>
	  </div>


  </div>
</section>
{% endblock %}


