<!DOCTYPE html>

<html>
{% load static %}
<head>
	<meta charset="utf-8">
	<title>태스크 목록 확인하기 예시 페이지</title>
	<style>
		.small {text-indent: 50px;}
		.big {texxt-indent:100px;}
	</style>
	<link rel="stylesheet" href="{% static 'css/main.css' %}"/>

</head>

<body>
<div>
<h1>제출할 파일수: 3</h1>
</div>
<hr>
<br>
<br>
<hr>
<div>
<h2>1번 태스크 </h2>
<br>
<input class="button" type="submit" href="mypage.html" value="제출하기">
<h3 class="small">현재 평가점수: 9.3</h3>
</div>
<hr>
<div>
<h2>2번 태스크 </h2>
<br>
<input class="button" type="submit" href="mypage.html" value="제출하기">
<h3 class="small">현재 평가점수: 9.9</h3>
</div>
<hr>
<div>
<h2>3번 태스크 </h2>
<br>
<input class="button" type="submit" href="mypage.html" value="제출하기">
<h3 class="small">현재 평가점수: 9.3</h3>
</div>
<hr>

</body>
</html>