{% extends 'base.html' %}
{% block content %}
    <head>
	<style>
	h2 {text-align: center;}
	h3 {text-align: center;}
	h4 {text-align: center;}
	</style>
	</head>
<div class="inner">
    <br>
    <h3>Search User</h3>
    <h4>You can search users with name, gender, role etc.</h4>
<form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
{% csrf_token %}
<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q" value="{{q}}">
    <br>
<button class="btn btn-outline-success my-2 my-sm-0 button fit" type="submit">Search</button>

</form>


    {% if not blogs %}

        <h1>검색 결과가 없습니다</h1>

    {% else %}

        {% for blog in blogs.all %}
        <div class="container">
            <div class="card">
                <div class="card-body">
                   <a href="/post_detail/{{ blog.pk }}"> <h1>{{ blog.username }}</h1> </a>

                </div>
            </div>
        </div>
        <br>
        {% endfor %}

    {% endif %}
</div>
{% endblock %}
