{% extends 'base.html' %}

{% block content %}
<section id="main" class="wrapper">
  <div class="inner">
	  <h2>
		Hi {{user.username}}!
	  </h2>
	  <p><a href="{% url 'logout' %}">Log Out</a></p>
      <h4>Your Score: {{submitter.score}} </h4>
      
	  <hr class="major">
	  <h4>참여 중인 태스크</h4><br/>
	  <div class="table_wrapper">
		  <table>
			<thead>
			 	<tr>
					<th>태스크</th>
					<th>설명</th>
					<th>최소 업로드 주기(일)</th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
			{% for t in approved_tasks %}
				<tr><td>{{t.task.task_name}}</td>
  				<td>{{t.task.description}}</td>
				<td>{{t.task.mincycle}}</td>
  				<td><a href="{% url 'detail' t.task.task_id %}">자세히 보기</a></td></tr>
			{% endfor %}
			</tbody>
		  </table>
	  </div>
      <hr class="major">
	  <h4>대기 중인 태스크</h4><br/>
	  <div class="table_wrapper">
		  <table>
			  <thead>
			  	<tr>
					<th>태스크</th>
					<th>설명</th>
					<th>상태</th>
				</tr>
			  </thead>
				{% for t in pending_tasks %}
				<tbody>
					<td>{{t.task.task_name}}</td>
					<td>{{t.task.description}}</td>
					<td>승인 대기 중</td>
				</tbody>
				{% endfor %}
		  </table>
	  <hr class="major">
	<a href="{% url 'task' %}" class="button fit">More Tasks</a>



  </div>
</section>
{% endblock %}