
{% extends "base.html" %}

{% block content %}
    <head>
	<style>
	h2 {text-align: center;}
	h3 {text-align: center;}
	h4 {text-align: center;}
	h1 {text-align: center;}
	h5 {text-align: center;}
	</style>
	</head>

    <br>
    <br>
    <h3 font size="5em"> Task is successfully created! <br> </h3>
    <h1> Please fill out this form to add fields in Task Data Table Schema <br> </h1>
    <h1>Define fields down here and click 'Add Field' You can add as much as you want</h1><br><br>

    <h5>앞서 작성한 태스크 데이터 테이블 스키마에 따라 필드를 추가해 주세요.</h5><br>
    <h5>필드 하나를 작성 한 후 'Add Field'를 클릭해 주시고 원하는 만큼 추가해주시기 바랍니다.</h5><br>
    <h5>필드 입력이 끝난 후 'Done'을 클릭하면 원본데이터타입 생성 페이지로 넘어갑니다.</h5><br>

    <div class="inner">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input type = "submit" value = "Add Field" class="button fit" onclick ="return alert('Task Data Table Schema Field Defined Successfully!')"><br><br>
            <H4> After defining task data table schema, you should make at least one task raw data type. </H4>
            <H4> When you finish with your schema(fields), click Done. </H4>
            <a href="{% url 'createdatatype' %}" class="button fit">Done</a>
        </form>
         <p>
        <a href="{% url 'home' %}">Go to main page</a>
        </p>
   </div>

{% endblock content %}


