{% extends 'base.html' %}

{% block content %}
<section id="main" class="wrapper">
  <div class="inner">
	  <h3 style="text-align:center">
          Task
	  </h3>

	  <hr class="major">
      <div class="table_wrapper">
		  <table>
			  <thead>
			  	<tr>
					<th>Task</th>
					<th>Description</th>
                    <th>Details</th>
				</tr>
			  </thead>
                {% if tasks%}
                {% for t in tasks %}
			  	<tbody>
  				    <td>{{t.task_name}}</td>
  				    <td>{{t.description}}</td>
                    <td>
                        <a class="button" href="/sangpum/update?id={{s.id}}">View Details</a>
                    </td>
				</tbody>
                {% endfor %}

                {% endif %}
		  </table>
	  </div>
  </div>
</section>
{% endblock %}


