<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>database project</title>
	<link rel="stylesheet" href="styles.css">
</head>

<form action="" id="joinForm">
	<div class="join_box">
		<li class="checkBox">
			<ul class="description">
				<li>아래 사이트의 이용약관 및 개인정보 수집 및 이용에 대한 안내를 읽고 모두 동의합니다.</li>
				<li class="checkAllBtn">
					<input type="checkbox" name="chkAll" id="chk" class="chkAll">
				</li>
			</ul>
		</li>
		<li class="checkBox">
			<ul class="description">
				<li>이용약관</li>
			</ul>
			<textarea name="" id="">Website Terms and Conditions [Text Format]
Last updated [month day, year]

AGREEMENT TO TERMS

These Terms and Conditions constitute a legally binding agreement made between you, whether personally or on behalf of an entity (“you”) and [business entity name] (“we,” “us” or “our”), concerning your access to and use of the [website name.com] website as well as any other media form, media channel, mobile website or mobile application related, linked, or otherwise connected thereto (collectively, the “Site”).
</textarea>
		</li>
		<li class="checkBox check03">
			<ul class="description">
				<li>개인정보 수집 및 이용에 대한 안내</li>
			</ul>

			<textarea name="" id="">INTELLECTUAL PROPERTY RIGHTS

Unless otherwise indicated, the Site is our proprietary property and all source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics on the Site (collectively, the “Content”) and the trademarks, service marks, and logos contained therein (the “Marks”) are owned or controlled by us or licensed to us, and are protected by copyright and trademark laws and various other intellectual property rights and unfair competition laws of the United States, foreign jurisdictions, and international conventions.
</textarea>
		</li>
	</div>
	<div class="agree">
		<li><button class="button">동의합니다</button></li>
	</div>
</form>


</html>