{% extends 'base.html' %}

{% block title %}users{% endblock %}
{% load static %}
<body class="subpage">
  {% block content %}
  <section id="main" class="wrapper">

  <div class="inner">
      <h2 style="text-align:center"><B>{{ task.task_name }}에 제출된 파일 목록 (총 {{num}}개)</B></h2>
      <h1 style="text-align:right">전체 저장 된 튜플 수{{ numtuple }}</h1>
    <form method="post">

        <table class="table table-striped">

            <tbody>

                {% for raw in raw %}
                <tr>
                 <td>{{ raw.file }}</td>
                    </tr>
                {% endfor %}




            </tbody>
        </table>
        <h3>타입별 튜플 저장 수</h3>
        <table>
{% for raw in rawtype %}
                <tr>
                    <td><a href="/rawtype_detail/{{ raw.pk }}">{{ raw.type_name }}</a></td>
                    </tr>
                {% endfor %}
        </table>

    </form>
    </div>
</section>

{% endblock %}
</body>