{% extends 'base.html' %}

{% block title %}users{% endblock %}
{% load static %}
<body class="subpage">
  {% block content %}
  <section id="main" class="wrapper">

  <div class="inner">
    <h2 style="text-align:center"><{{ task }}> 에 제출된 파일</h2>
    <form method="post">

        <table class="table table-striped">

            <tbody>

                {% for raw in raw %}
                 <td>{{ raw.file }}</td>
                {% endfor %}



            </tbody>
        </table>
        <table>

        </table>

    </form>
    </div>
</section>

{% endblock %}
</body>