{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>

{% load static %}


<html>

<head>
    <meta charset="utf-8">
    <title>database project</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>


<body>
	<section id="main" class="wrapper">
	  <div class="inner">
		  <h2></h2>
		  <h4>제출한 데이터</h4>
		  <div class="table_wrapper">
			<table>
			<thead>
				<tr><th>데이터 타입</th>
				<th>회차</th>
				<th>기간</th>
				<th>업로드한 파일</th></tr>
			</thead>
			<tbody>
			{% for f in uploaded_files %}
				<tr><td>{{f.raw_data_type}}</td>
					<td>{{f.round}}</td>
					<td>{{f.term_start}} ~ {{f.term_end}}
					<td>{{f.file}}</td></tr>
			{% endfor %}
			</tbody>
			</table>
		  </div><br/><br/><br/>
		  <h4>새 데이터 제출하기</h4>
		  <div class="table_wrapper">
			<form action=" {% url 'submitted' task.task_id %}" method="post", enctype="multipart/form-data" nonvalidate>
			<table>
			<tbody>
				{% csrf_token %}
				<tr><td>제출할 파일</td>
					<td>{{form.file}}</td></tr>
  				<tr><td>원본 데이터 타입</td>
					<td>{{form.raw_data_type}}</td></tr>
  				<tr><td>제출 회차</td>
					<td>{{form.round}} 회차</tr>
  				<tr><td>데이터 수집 기간</td>
					<td>{{form.term_start}} ~ {{form.term_end}}</td></tr>
			</tbody>
			</table>
			<input class="button" type="submit" value="제출하기">
			</form>
		  </div>
	  </div>
	</section>
</body>

</html>
{% endblock %}