{% extends 'base.html' %}

{% block title %}users{% endblock %}
{% load static %}
<body class="subpage">
  {% block content %}
    <head>
	<style>
	h4 {text-align: center;}
	h3 {text-align: center;}
	h1 {text-align: center;}
	</style>
	</head>
  <section id="main" class="wrapper">

  <div class="inner">
      <h3><B>User list</B></h3>
      <p><div align="right"> <a href="{% url 'search' %}" class = "button fit">Search Users</a></div> <br>
      <div align="right"><font size=4 color="#04B486">There are total {{num}} users </font> </div> <br>
    <form method="post">

        <table class="table table-striped">
            <thead>
            <tr>
                <td><B>이름</B></td>
                <td><B>ID</B></td>
                <td><B>성별</B></td>
                <td><B>주소</B></td>
                <td><B>생일</B></td>
                <td><B>이메일</B></td>
                <td><B>역할</B></td>



            </tr>
            </thead>
            <tbody>
            {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.username }}</td>
                <td>{{ candidate.user_id }}</td>
                <td>{{ candidate.gender }}</td>
                <td>{{ candidate.address }}</td>
                <td>{{ candidate.birthdate }}</td>
                <td>{{ candidate.email }}</td>
                <td>{{ candidate.role }}</td>


            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
    </div>
</section>

{% endblock %}
</body>