{% extends 'base.html' %}

{% block title %}users{% endblock %}
{% load static %}
<body class="subpage">
  {% block content %}
  <section id="main" class="wrapper">
  <div class="inner">
    <h2 style="text-align:center">Users</h2>
    <form method="post">
        <tbody>
        {% for candidate in candidates %}
        <tr>
            <td>{{ candidate.username }}</td>
            <td>{{ candidate.user_id }}</td>
            <td>{{ candidate.gender }}</td>
            <td>{{ candidate.address }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </form>
    </div>
</section>

{% endblock %}
</body>