{% extends 'base.html' %}

{% block title %}users{% endblock %}
{% load static %}
<body class="subpage">
  {% block content %}
  <section id="main" class="wrapper">

  <div class="inner">
    <h2 style="text-align:center">Users</h2>
    <form method="post">

        <table class="table table-striped">
            <thead>
            <tr>
                <td><B>이름</B></td>
                <td><B>ID</B></td>
                <td><B>성별</B></td>
                <td><B>주소</B></td>
                <td><B>생일</B></td>
                <td><B>이메일</B></td>
                <td><B>역할</B></td>



            </tr>
            </thead>
            <tbody>
            {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.username }}</td>
                <td>{{ candidate.user_id }}</td>
                <td>{{ candidate.gender }}</td>
                <td>{{ candidate.address }}</td>
                <td>{{ candidate.birthdate }}</td>
                <td>{{ candidate.email }}</td>
                <td>{{ candidate.role }}</td>


            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p><a href="{% url 'search' %}" class = "button">Search Users</a>
    </form>
    </div>
</section>

{% endblock %}
</body>