{% extends 'base.html' %}

{% block content %}
<section id="main" class="wrapper">
  <div class="inner">
	  <h3 style="text-align:center">
          On-Going Tasks
	  </h3>

	  <hr class="major">
      <div class="table_wrapper">
		  <table>
			  <thead>
			  	<tr>
					<th><font size="5em">Task</font></th>
					<th><font size="5em">Description</font></th>
                    <th><font size="5em">Details</font></th>
				</tr>
			  </thead>
                {% if tasks%}
                {% for t in tasks %}
			  	<tbody>
  				    <td>{{t.task_name}}</td>
  				    <td>{{t.description}}</td>
                    <td>
        <a href="{% url 'MyAdmin:submitters' t.task_id %}">View Details</a>
 </td>
				</tbody>
                {% endfor %}

                {% endif %}
		  </table>
	  </div>
	  <p><a class="button fit" href="{% url 'myadmin:taskcreate' %}">Create New task</a>
  </div>
</section>
{% endblock %}

