{% extends "base.html" %}

{% block content %}

    <head>
	<style>
	h2 {text-align: center;}
	h3 {text-align: center;}
	h4 {text-align: center;}
	</style>
	</head>

    <br>
    <h3><strong>Let's Create a Task!</strong></h3>
    <p style="padding:50px 200px 50px 200px;"><strong>작성요령: Task Data Table 이름과 Task의 이름은 동일해야 한다.<br><br>
    예시: FICTION이라는 이름의 Task를 생성하고자 할 경우, Task Data Table Scheme는 다음과 같이 입력한다.<br><br>
    CREATE TABLE FICTION(<br>
    BOOK_ID INT NOT NULL,<br>
    BOOK_NAME VARCHAR(100) NOT NULL,<br>
    PRIMARY KEY(BOOK_ID), UNIQUE (BOOK_NAME))</strong></p>
 
   <div class="inner">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button fit">Create</button>
        </form>
        <p>

        </p>
   </div>

{% endblock content %}
