{% extends 'base.html' %}

{% block content %}
  <div class="inner">
      <h2>Title: {{ task.task_name }}</h2>
      <p><strong>Task ID:</strong> {{task.task_id}}</p>
      <p><strong>Task Description:</strong> {{task.description}}</p>
      <p><strong>최소 업로드 주기:</strong> {{task.mincycle}}</p>
      <p><strong>File Type:</strong> .csv files</p>
      {% if user.is_authenticated %}
        {% if user.role == 'S'%}
            <a class="button" href="{% url 'contract' task.task_id %}"}>Apply Task</a>
        {% endif %}
      {% endif %}

  </div>
{% endblock %}
