<style>

body 	{background-color: white;}
div		{margin:20px 0 40px;}
a		{text-decoration: none;}

.topbar	{padding: 20px;}

.data-info	{text-align: center;}

.button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 14px 32px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}


*{box-sizing: border-box}
li{list-style: none}
.description	{padding:0 0 0 10px;}
.description::after{content: "";display: block;clear: both;}
#joinForm{width: 460px; margin: 10px auto; padding:0;}
div.join_box{border: 1px solid #ddd;background-color: #fff;}
.checkBox,.checkBox>ul{position: relative;}
.checkBox>ul>li{float: left;}
.checkBox>ul>li:first-child{width: 85%;padding: 15px;font-weight: 600;color: #888;}
.checkBox>ul>li:nth-child(2){position: absolute;top: 50%;right: 30px;margin-top: -12px;}
.checkBox textarea{width: 90%;height: 120px; margin: 0 5% 3% 5%; padding: 1%; background-color: #f9f9f9;color: #888; border: none;}
.agree>li{float: center;}
.agree>li>button{display: block; width: 100%; text-align: center;line-height: 10px;}



</style>